@charset "utf-8";
#header ul{
	position:absolute;
	top:70px;
	left:0;
	z-index:9999;
}
#header ul li{
	display:none;
	width:100%;
	height:50px;
	margin:0 3px;
	font-size:15px;
	line-height:50px;
	background:rgba(240,240,240,0.5);
}
#logo a h1{
	font-size:35px;
}
#header .search{
	width:85px;
}
#search-btn{
	right:7%;
}
#banner{
	height:400px;
}
#banner .tit{
	top:200px;
}
#banner img{
	float:right;
	margin-top:120px;
	margin-right:0;
	width:350px;
}
#banner .tit h1{
	font-size:35px;
	padding:0 0 4px 0;
}
#banner .tit p{
	font-size:20px;
	padding:4px 0;
}
#banner .tit a{
	width:180px;
	height:36px;
	line-height:36px;
	font-size:12px;
	margin:2px 0;
}
/*公共的*/
#title h2{
	padding:25px 0 2px 0;
	font-size:30px;
	color:#333;
	
}
#title p{
	font-size:12px;
	padding:0 0 30px 0;
}
#about{
	margin-top:20px;
}
#about .int{
	float:left;
	margin-left:5%;
	margin-right:5%;
	margin-top:0;
	font-size:14px;
	width:90%;
	height:560px;
}
#about .int h3{
	padding:0 0 1px 0;
	font-size:15px;
}
#about .int p{
	color:#333;
	padding-bottom:3px;
}
#about img{
	float:right;
	width:250px;
	margin-right:10%;
	margin-top:20px;
}
#edu{
	width:300px;
	margin-left:5%;
	margin-top:45px;
}
#jobs{
	float:left;
	width:300px;
	margin-left:5%;
	margin-top:15px;
}

#about .fig h3{
	padding-top:30px;
	padding-bottom:2px;
	font-size:20px;
}
#about .mod{
	margin:20px 0 80px 0;
}

#about .fig h2{
	font-size:25px;
	width:80px;
	height:120px;
	line-height:120px;
}
#about .fig span{
	top:-10px;
	left:85px;
}
#about .fig h4{
	display:block;
	margin:10px 5px 5px 0;
	font-size:16px;
}
#about .fig p{
	padding-bottom:5px;
	font-size:14px;
	line-height:22px;
}
#sklls{
	margin-top:0;
}
#sklls .sk-li p{
	padding-bottom:0;
	font-size:16px;
}
#project{
	margin-top:0;
} 
#project ul li{
	margin:0 0.5% 25px 0.5%;
}
#project img{
	width:280px;
}
#project a{
	font-size:14px;
}
#project a p{
	margin-top:5px;
	margin-bottom:10px;
} 
#contact{
	margin-bottom:20px;
}
#contact .name{
	width:300px;
	height:250px;
	margin-left:5%;
	font-size:14px;
	line-height:25px;
}
#contact .name h2{
	font-size:20px;
	padding-bottom:8px;
}

#contact .code{
	display:inline-block;
	margin-right:22%;
	margin-top:0;
}
#fooder{
	height:30px;
	line-height:30px;
	font-size:12px;
}
